<app-page-title title="مملكة العطاء" subTitle="طلب التواصل" />

<section class="configuration-sumou">
  <div class="form card p-3">
    <form class="row g-3" [formGroup]="configForm">
      <div class="col-md-6 col-12 position-relative input-container">
        <input type="text" formControlName="email" class="form-control input-field" name="email" id="email" placeholder=" ">
        <div class="icon-title d-flex justify-content-start align-items-center gap-1 w-100">
          <i class="ri-pages-line fs-24 button-sm-hover-icon"></i>
          <span>البريد الإلكتروني</span>
        </div>
      </div>

      <div class="col-md-6 col-12 position-relative input-container">
        <input type="tel" formControlName="phoneNumber" class="form-control input-field" name="phone" id="phone" placeholder=" ">
        <div class="icon-title d-flex justify-content-start align-items-center gap-1 w-100">
          <i class="ri-phone-line fs-24 button-sm-hover-icon"></i>
          <span>التليفون</span>
        </div>
      </div>

      <div class="d-flex flex-column justify-content-between align-items-center">
        @if(update){
          <button class="btn btn-update" (click)="UpdateConfiguration()">تعديل</button>
        } @else {
          <button class="btn btn-submit" (click)="submitConfigForm()">حفظ</button>
        }
      </div>
    </form>
  </div>


   <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center border-bottom"
        >
          <div>
            <h4 class="card-title">طلبات التواصل</h4>
          </div>
          <!-- <div ngbDropdown>
            <a
              ngbDropdownToggle
              class="btn btn-sm btn-outline-light rounded"
              role="button"
            >
              This Month
            </a>
            <div ngbDropdownMenu class="dropdown-menu-end">
              <a href="javascript:void(0);" class="dropdown-item">Download</a>

              <a href="javascript:void(0);" class="dropdown-item">Export</a>

              <a href="javascript:void(0);" class="dropdown-item">Import</a>
            </div>
          </div> -->
        </div>

        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table align-middle text-nowrap table-hover table-centered mb-0">
              <thead class="bg-light-subtle">
                <tr>
                  <th style="width: 50%">الإيميل</th>
                  <th style="width: 50%">رقم التليفون</th>
                  <th style="white-space: nowrap;" class="text-center">الإجراء</th>
                </tr>
              </thead>
              <tbody>
                @for (item of pagedData; track $index) {
                  <tr>
                    <td class="w-50">{{ item.email }}</td>
                    <td class="w-50">{{ item.phoneNumber }}</td>
                    <td>
                      <div class="d-flex gap-2">
                        <a href="javascript:void(0);" class="btn btn-soft-primary btn-sm">
                          <iconify-icon
                            (click)="patchConfigurationData(item)"
                            icon="solar:pen-2-broken"
                            class="align-middle fs-18"
                          ></iconify-icon>
                        </a>
                        <a href="javascript:void(0);" class="btn btn-soft-danger btn-sm" (click)="DeleteConfiguration(item.id)">
                          <iconify-icon
                            icon="solar:trash-bin-minimalistic-2-broken"
                            class="align-middle fs-18"
                          ></iconify-icon>
                        </a>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer border-top">
          <nav aria-label="Page navigation example">
            <ngb-pagination
              [collectionSize]="totalItems"
              [(page)]="currentPage"
              [pageSize]="pageSize"
              class="pagination justify-content-end mb-0"
            >
              <ng-template ngbPaginationPrevious>Previous</ng-template>
              <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
