$mainColor:#036F62;
h1, h2, h3, h4, h5, h6{
  color: $mainColor;
}
.projects{
  direction: rtl;
}
.img-table{
  width: 60px;
}
.img-details{
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.cr{
  cursor: pointer;
}
.remove-btn{
  top: 10px;
  right: 5px;
}
.add-btn{
  border: 1px solid $mainColor;
  width: fit-content;
  border-radius: 15px;
  padding: 0 10px;
}
.fa-file-pdf{
  font-size: 40px;
}
