<app-page-title title="ممكلة العطاء" subTitle="المشروعات" />

<section class="projects">
  <h1>إضافة مشروع التمليك</h1>
  <div class="form card p-3">
    <form class="row g-3" [formGroup]="projectForm">
      <h3>الصورة الرئيسية</h3>
      <div class="my-2">
        <dropzone
          [config]="customDropzoneConfig"
          (success)="onUploadSuccess($event)"
          [message]="dropzoneMsg"
          (init)="onDropzoneInit($event)"
          class="dropzone"
        >
        </dropzone>

        <div class="row g-3" *ngIf="uploadedMainHeaderFiles.length > 0">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let file of uploadedMainHeaderFiles; let i = index" >
            <div class="h-100 position-relative">
             <img
                [src]="file.picture?.dataURL || file.picture"
                class="card-img-top object-fit-cover img-thumbnail"
                alt="project-image"
                style="height: 150px; object-fit: cover; border-bottom: 1px solid #ddd;"
              />
              <div class="remove-btn position-absolute cr bg-danger rounded-circle d-flex justify-content-center align-items-center" (click)="removeFile(i)">
                <i class='bx bx-x text-white fs-4'></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h3>صور المشروع</h3>
      <div class="my-2">
        <dropzone
          [config]="customDropzoneConfig"
          (success)="onUploadProjectSuccess($event)"
          [message]="dropzoneMsg"
          (init)="onDropzoneProjectInit($event)"
          class="dropzone"
        >
        </dropzone>

        <div class="row g-3" *ngIf="uploadedProjectFiles.length > 0">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let file of uploadedProjectFiles; let i = index" >
            <div class="h-100 position-relative">
              <img [src]="file.picture?.dataURL || file.picture " class="card-img-top object-fit-cover img-thumbnail" alt="{{ file.name }}" style="height: 150px; object-fit: cover; border-bottom: 1px solid #ddd;" />
              <div class="remove-btn position-absolute cr bg-danger rounded-circle d-flex justify-content-center align-items-center" (click)="removeProjectFile(i)">
                <i class='bx bx-x text-white fs-4'></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <h3>بيانات المشروع</h3>
      <div class="col-md-4 col-12 position-relative input-container mt-3">
        <select selectFormInput class="form-control" data-choices name="choices-single-default" id="choices-single-default" formControlName="Type" >
          <option value="" disabled>اختر نوع المشروع</option>
          <option value="1">مشاريع التمليك</option>
          <option value="2">عروض عقارية</option>
        </select>
      </div>

      <div class="col-md-4 col-12 position-relative input-container">
        <input type="text" formControlName="Title" class="form-control input-field" name="Title" id="Title" placeholder=" ">
        <div class="icon-title d-flex justify-content-start align-items-center gap-1 w-100">
          <i class="ri-pages-line fs-24 button-sm-hover-icon"></i>
          <span>العنوان الرئيسي</span>
        </div>
      </div>

      <div class="col-md-4 col-12 position-relative input-container">
        <input type="number" formControlName="Price" class="form-control input-field" name="price" id="price" placeholder=" ">
        <div class="icon-price d-flex justify-content-start align-items-center gap-1 w-100">
          <i class="ri-money-dollar-circle-line fs-24 button-sm-hover-icon"></i>
          <span>السعر</span>
        </div>
      </div>

      <div class="col-md-4 col-12 position-relative input-container">
        <input type="text" formControlName="Area" class="form-control input-field" name="area" id="area" placeholder=" ">
        <div class="icon-area d-flex justify-content-start align-items-center gap-1 w-100">
          <i class="ri-home-4-line fs-24 button-sm-hover-icon"></i>
          <span>المنطقة</span>
        </div>
      </div>

      <div class="col-md-4 col-12 position-relative input-container">
        <input type="text" formControlName="City" class="form-control input-field" name="city" id="city" placeholder=" ">
        <div class="icon-city d-flex justify-content-start align-items-center gap-1 w-100">
          <i class="ri-user-location-fill fs-24 button-sm-hover-icon"></i>
          <span>المدينة</span>
        </div>
      </div>

      <div class="col-md-4 col-12 position-relative input-container">
        <input type="text" formControlName="Location" class="form-control input-field" name="location" id="location" placeholder=" ">
        <div class="icon-location d-flex justify-content-start align-items-center gap-1 w-100">
          <i class="ri-user-location-line fs-24 button-sm-hover-icon"></i>
          <span>الموقع</span>
        </div>
      </div>

      <div class="col-md-4 col-12 position-relative input-container">
        <input type="number" formControlName="RoomNumbers" class="form-control input-field" name="rooms" id="rooms" placeholder=" ">
        <div class="icon-rooms d-flex justify-content-start align-items-center gap-1 w-100">
          <i class="ri-numbers-line fs-24 button-sm-hover-icon"></i>
          <span>عدد الغرف</span>
        </div>
      </div>

      <div class="col-md-4 col-12 position-relative input-container">
        <input type="number" formControlName="Space" class="form-control input-field" name="space" id="space" placeholder=" ">
        <div class="icon-rooms d-flex justify-content-start align-items-center gap-1 w-100">
          <i class="fa-solid fa-subscript fs-18 button-sm-hover-icon"></i>
          <span>المساحة</span>
        </div>
      </div>

      <div class="col-12 position-relative input-container">
        <div class=" d-flex justify-content-start align-items-center gap-1 w-100">
          <i class="ri-pages-line fs-24 button-sm-hover-icon"></i>
          <span>التفاصيل</span>
        </div>
        <quill-editor
          formControlName="Description"
          #quillEditor
          [(ngModel)]="content"
          theme="snow"
          [modules]="editorConfig"
          style="height: 150px"
          class="w-100"
        ></quill-editor>
      </div>

      <div class="col-12">
        <h1 class="mb-4">إضافة نماذج المشروع</h1>

        <!-- formArrayName للـ Models -->
        <div formArrayName="Models">
          <div class="row g-3 border border-2 rounded mb-4 position-relative pb-2" *ngFor="let model of modelsArray.controls; let i = index" [formGroupName]="i" >
            <div class="d-flex align-items-center gap-3">
              @if(i > 0){
                <i class="ri-close-circle-line fs-3 text-danger cr icon-close mt-0" (click)="removeModel(i)"></i>
              }
              <h3 class="my-0">نموذج {{i + 1}}</h3>
            </div>

            <!-- Dropzone -->
            <div class="col-12">
              <dropzone
                [config]="customDropzoneConfig"
                (success)="onUploadModelsSuccess($event, i)"
                [message]="dropzoneMsg"
                (init)="onDropzoneModelsInit($event, i)"
                class="dropzone"
              ></dropzone>

              <!-- صور النموذج -->
              <div class="row g-3 mt-2" *ngIf="uploadedModelsFiles[i]?.length > 0">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let file of uploadedModelsFiles[i]; let j = index" >
                  <div class="h-100 position-relative">
                    <img
                      [src]="file?.dataURL || file"
                      class="card-img-top object-fit-cover img-thumbnail"
                      alt="وحدات سكنية"
                      style="height: 150px; object-fit: cover; border-bottom: 1px solid #ddd;"
                    />
                    <div
                      class="remove-btn position-absolute cr bg-danger rounded-circle d-flex justify-content-center align-items-center"
                      (click)="removeModelsFile(i, j)"
                    >
                      <i class="bx bx-x text-white fs-4"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- بيانات النموذج -->
            <div class="col-12">
              <h3>بيانات النموذج {{ i + 1 }}</h3>
            </div>

            <div class="col-md-4 col-12 position-relative input-container">
              <input type="text" formControlName="title" class="form-control input-field" placeholder=" ">
              <div class="icon-title d-flex align-items-center gap-1 w-100">
                <i class="ri-pages-line fs-24"></i>
                <span>العنوان الرئيسي</span>
              </div>
            </div>

            <div class="col-md-4 col-12 position-relative input-container">
              <input type="number" formControlName="price" class="form-control input-field" placeholder=" ">
              <div class="icon-price d-flex align-items-center gap-1 w-100">
                <i class="ri-money-dollar-circle-line fs-24"></i>
                <span>السعر</span>
              </div>
            </div>

            <div class="col-md-4 col-12 position-relative input-container">
              <input type="number" formControlName="roomNumbers" class="form-control input-field" placeholder=" ">
              <div class="icon-rooms d-flex align-items-center gap-1 w-100">
                <i class="ri-numbers-line fs-24"></i>
                <span>عدد الغرف</span>
              </div>
            </div>

            <div class="col-md-4 col-12 position-relative input-container">
              <input type="number" formControlName="pathRoomNumber" class="form-control input-field" placeholder=" ">
              <div class="icon-rooms d-flex align-items-center gap-1 w-100">
                <i class="ri-numbers-line fs-24"></i>
                <span>عدد الحمامات</span>
              </div>
            </div>

            <div class="col-md-4 col-12 position-relative input-container">
              <input type="number" formControlName="space" class="form-control input-field" placeholder=" ">
              <div class="icon-rooms d-flex align-items-center gap-1 w-100">
                <i class="fa-solid fa-subscript fs-18"></i>
                <span>المساحة</span>
              </div>
            </div>

            <div class="col-md-4 col-12 position-relative input-container">
              <input type="text" formControlName="floor" class="form-control input-field" placeholder=" ">
              <div class="icon-rooms d-flex align-items-center gap-1 w-100">
                <i class="ri-home-4-line fs-24"></i>
                <span>الدور</span>
              </div>
            </div>

            <!-- Checkbox موقف السيارات -->
            <div class="col-12 position-relative input-container">
              <div class="form-check d-flex align-items-center gap-2">
                <label class="form-check-label" for="hasParking{{ i }}">
                  <i class="fa-solid fa-car fs-18 ms-1"></i>
                  <span>موقف السيارات</span>
                </label>
                <input type="checkbox" class="form-check-input" id="hasParking{{ i }}" (change)="toggleParkingInput(i)" />
              </div>

              <div *ngIf="showParkingInput[i]">
                <input type="text" formControlName="parking" class="form-control mt-2" placeholder="...موقف السيارات" />
              </div>
            </div>
          </div>
        </div>

        <!-- زر إضافة نموذج جديد -->
        <div class="add-btn d-flex align-items-center gap-2 cr"  (click)="addModel()">
          <i class="ri-file-add-line fs-3"></i>
          <h4 class="mb-0">إضافة نموذج جديد</h4>
        </div>
      </div>


      <!-- <div class="col-12">
        <h1>إضافة النماذج</h1>
        <div class="row g-3" formGroupName="Models">
          <div class="col-12">
            <dropzone
              [config]="customDropzoneConfig"
              (success)="onUploadModelsSuccess($event)"
              [message]="dropzoneMsg"
              (init)="onDropzoneModelsInit($event)"
              class="dropzone"
            >
            </dropzone>

            <div class="row g-3" *ngIf="uploadedModelsFiles.length > 0">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let file of uploadedModelsFiles; let i = index" >
                <div class="h-100 position-relative">
                  <img [src]="file?.dataURL || file" class="card-img-top object-fit-cover img-thumbnail" alt="وحدات سكنية" style="height: 150px; object-fit: cover; border-bottom: 1px solid #ddd;" />
                  <div class="remove-btn position-absolute cr bg-danger rounded-circle d-flex justify-content-center align-items-center" (click)="removeModelsFile(i)">
                    <i class='bx bx-x text-white fs-4'></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <h3>بيانات النموذج</h3>
          <div class="col-md-4 col-12 position-relative input-container">
            <input type="text" formControlName="title" class="form-control input-field" name="title" id="title" placeholder=" ">
            <div class="icon-title d-flex justify-content-start align-items-center gap-1 w-100">
              <i class="ri-pages-line fs-24 button-sm-hover-icon"></i>
              <span>العنوان الرئيسي</span>
            </div>
          </div>

          <div class="col-md-4 col-12 position-relative input-container">
            <input type="number" formControlName="price" class="form-control input-field" name="price" id="price" placeholder=" ">
            <div class="icon-price d-flex justify-content-start align-items-center gap-1 w-100">
              <i class="ri-money-dollar-circle-line fs-24 button-sm-hover-icon"></i>
              <span>السعر</span>
            </div>
          </div>

          <div class="col-md-4 col-12 position-relative input-container">
            <input type="number" formControlName="roomNumbers" class="form-control input-field" name="rooms" id="rooms" placeholder=" ">
            <div class="icon-rooms d-flex justify-content-start align-items-center gap-1 w-100">
              <i class="ri-numbers-line fs-24 button-sm-hover-icon"></i>
              <span>عدد الغرف</span>
            </div>
          </div>

          <div class="col-md-4 col-12 position-relative input-container">
            <input type="number" formControlName="pathRoomNumber" class="form-control input-field" name="pathRoomNumber" id="pathRoomNumber" placeholder=" ">
            <div class="icon-rooms d-flex justify-content-start align-items-center gap-1 w-100">
              <i class="ri-numbers-line fs-24 button-sm-hover-icon"></i>
              <span>عدد الحمامات</span>
            </div>
          </div>

          <div class="col-md-4 col-12 position-relative input-container">
            <input type="number" formControlName="space" class="form-control input-field" name="space" id="space" placeholder=" ">
            <div class="icon-rooms d-flex justify-content-start align-items-center gap-1 w-100">
              <i class="fa-solid fa-subscript fs-18 button-sm-hover-icon"></i>
              <span>المساحة</span>
            </div>
          </div>

          <div class="col-md-4 col-12 position-relative input-container">
            <input type="text" formControlName="floor" class="form-control input-field" name="floor" id="floor" placeholder=" ">
            <div class="icon-rooms d-flex justify-content-start align-items-center gap-1 w-100">
              <i class="ri-home-4-line fs-24 button-sm-hover-icon"></i>
              <span>الدور</span>
            </div>
          </div>

          <div class="col-12 position-relative input-container">
            <div class="form-check">
              <div class="d-flex align-items-center gap-2">
                <label class="form-check-label d-flex align-items-center gap-2" for="hasParking">
                  <i class="fa-solid fa-car fs-18 button-sm-hover-icon"></i>
                  <span>موقف السيارات</span>
                </label>
                <input type="checkbox" class="form-check-input" id="hasParking" (click)="toggleCheckBox()" />
              </div>

              <div *ngIf="showParkingInput">
                <input
                  type="text"
                  formControlName="parking"
                  class="form-control"
                  placeholder="...موقف السيارات"
                />
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </form>

    <div class="d-flex flex-column justify-content-between align-items-center">
        @if(update){
          <button class="btn btn-update" (click)="updateProject()">تعديل</button>
        } @else {
          <button class="btn btn-submit" (click)="submitProjectForm()">حفظ</button>
        }
    </div>
  </div>





  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center border-bottom"
        >
          <div>
            <h4 class="card-title">المشاريع</h4>
          </div>
       <div ngbDropdown>
  <a
    ngbDropdownToggle
    class="btn btn-sm btn-outline-light rounded"
    role="button"
  >
    {{ selectedFilter }}
  </a>

  <div ngbDropdownMenu class="dropdown-menu-start text-end">
    <a
      href="javascript:void(0);"
      class="dropdown-item"
      (click)="onFilterChange('الكل')"
    >
      الكل
    </a>
    <a
      href="javascript:void(0);"
      class="dropdown-item"
      (click)="onFilterChange('مشاريع التمليك')"
    >
      مشاريع التمليك
    </a>
    <a
      href="javascript:void(0);"
      class="dropdown-item"
      (click)="onFilterChange('عروض عقارية')"
    >
      عروض عقارية
    </a>
  </div>
</div>

        </div>

        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table align-middle text-nowrap table-hover table-centered mb-0">
              <thead class="bg-light-subtle">
                <tr>
                  <th>الصور الرئيسية</th>
                  <th>العنوان</th>
                  <th>التفاصيل</th>
                  <th>المنطقة</th>
                  <th>المدينة</th>
                  <th>الموقع</th>
                  <th>السعر</th>
                  <th>الإجراء</th>
                </tr>
              </thead>
              <tbody>
                @for (item of pagedData; track $index) {
                  <tr>
                    <td>
                      <img
                        [src]="item.mainPicture"
                        alt="Project Image"
                        width="60"
                        height="60"
                        class="rounded"
                        style="object-fit: cover"
                      />
                    </td>
                    <td>{{ item.title }}</td>
                    <td [innerHTML]="item.description.split('.').slice(0, 1).join(' ')"></td>
                    <td>{{ item.area }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.location }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                      <div class="d-flex gap-2">
                        <a href="javascript:void(0);" class="btn btn-light btn-sm"  (click)="openModal(exampleXl, { size: 'xl' }, item.id)" (click)="getProjectDataById(item.id)">
                          <iconify-icon
                            icon="solar:eye-broken"
                            class="align-middle fs-18"
                          ></iconify-icon>
                        </a>
                        <a href="javascript:void(0);" class="btn btn-soft-primary btn-sm">
                          <iconify-icon
                            (click)="patchProjectData(item)"
                            icon="solar:pen-2-broken"
                            class="align-middle fs-18"
                          ></iconify-icon>
                        </a>
                        <a href="javascript:void(0);" class="btn btn-soft-danger btn-sm" (click)="deleteProject(item.id)">
                          <iconify-icon
                            icon="solar:trash-bin-minimalistic-2-broken"
                            class="align-middle fs-18"
                          ></iconify-icon>
                        </a>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer border-top">
          <nav aria-label="Page navigation example">
            <ngb-pagination
              [collectionSize]="totalItems"
              [(page)]="currentPage"
              [pageSize]="pageSize"
              class="pagination justify-content-end mb-0"
            >
              <ng-template ngbPaginationPrevious>السابق</ng-template>
              <ng-template ngbPaginationNext>التالي</ng-template>
            </ngb-pagination>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Model Project Details -->
<ng-template #exampleXl let-modal class="modal fade" id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title h4" id="exampleModalXlLabel">
        Project Details
      </h5>
      <button
        (click)="modal.close()"
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table text-nowrap table-hover mb-0">
          <thead class="bg-light-subtle">
            <tr>
              <th>الصور الرئيسية</th>
              <th>العنوان</th>
              <th>التفاصيل</th>
              <th>المنطقة</th>
              <th>المدينة</th>
              <th>الموقع</th>
              <th>السعر</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  [src]="firstMainPic"
                  [alt]="selectedProjectById?.title"
                  width="60"
                  height="60"
                  class="rounded"
                  style="object-fit: cover"
                />
              </td>
              <td>{{ selectedProjectById?.title }}</td>
              <td [innerHTML]='selectedProjectById?.description! | newLine'></td>
              <td>{{ selectedProjectById?.area }}</td>
              <td>{{ selectedProjectById?.city }}</td>
              <td>{{ selectedProjectById?.location }}</td>
              <td>{{ selectedProjectById?.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row g-2">
        @for (project of selectedProjectById?.projectDetails; track $index) {
          <div class="col-md-3 col-12">
            <div class="card p-2 h-100">
              <img [src]="project.picture" class="img-details" [alt]="selectedProjectById?.title">
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</ng-template>
